on property:sys.boot_completed=1
    write sys/block/mmcblk0/queue/scheduler zen
    write sys/devices/platform/kcal_ctrl.0/kcal_enable 1
    write sys/devices/platform/kcal_ctrl.0/kcal_invert 0
    write sys/devices/platform/kcal_ctrl.0/kcal_min 32
    write sys/devices/platform/kcal_ctrl.0/kcal_sat 265
    write sys/devices/platform/kcal_ctrl.0/kcal_cont 243
    write sys/devices/platform/kcal_ctrl.0/kcal 256 256 256
    write sys/devices/platform/kcal_ctrl.0/kcal_val 269
